<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::dialoghead">
<body>
<style>
    .layui-table-cell {
        height: auto;
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
    }
</style>
<div style="padding: 15px;" class="layui-anim layui-anim-upbit">
    <div class="layui-form" action="">
        <input type="hidden" id="projectId" th:value="${projectId}">
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search" onclick="change()">
                变更
            </button>
            <button class="layui-btn layui-btn-sm layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search" onclick="commit()">
                提交
            </button>
        </div>
    </div>
    <table class="layui-table" lay-skin="line" id="changeTable" lay-filter="tableContent" style="margin-top: 0px">
    </table>
    <script type="text/html" id="operation">
        {{# if(d.status == 1 || d.status == 2){ }}
        <a class="joysupply-txt-color-on" lay-event="edits">编辑</a>
        {{# }else if(d.status == 4){ }}
        <a class="joysupply-txt-color-on" lay-event="edits">编辑</a>
        <a class="joysupply-txt-color-on" lay-event="auditOpion">审批意见</a>
        {{# }else{ }}
        <a class="joysupply-txt-color-on" lay-event="auditOpion">审批意见</a>
        {{# } }}
    </script>
    <script type="text/html" id="status">
        {{# if(d.status == 1){ }}
        <span>未提交</span>
        {{# }else if(d.status == 2 || d.status == 6){ }}
        <span>待审核</span>
        {{# }else if(d.status == 3){ }}
        <span>已审批</span>
        {{# }else if(d.status == 4){ }}
        <span>已驳回</span>
        {{# }else{ }}
        {{# } }}
    </script>
</div>
<script type="text/javascript">
    var projectId = $("#projectId").val();
    var tableIns;
    var table;
    //JavaScript代码区域
    layui.use(['element', 'form', 'table'], function () {
        var element = layui.element;
        var form = layui.form;
        table = layui.table;
        tableIns = table.render({
            id: 'id',
            skin: 'line',
            elem: '#changeTable',
            cellMinWidth: 80,
            url: '/project/getChangeList?projectId=' + projectId, //数据接口
            where: {},
            page: true, //开启分页
            limits: [10, 20, 30, 40, 50],
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        width: '5%',
                        align: 'center',
                    },
                    {
                        field: 'projectName',
                        title: '项目名称',
                        fixed: 'left',
                        width: '20%'
                    },
                    {
                        field: 'projectType',
                        title: '项目类型',
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'changeContent',
                        title: '变更内容',
                        width: '30%',
                        align: 'center',
                    },
                    {
                        field: 'creater',
                        width: '10%',
                        title: '变更人',
                        align: 'center',
                    },
                    {
                        field: 'createTime',
                        width: '20%',
                        title: '变更时间',
                        align: 'center',
                    },
                    {
                        field: 'status',
                        title: '状态',
                        fixed: 'right',
                        width: '10%',
                        align: 'center',
                        templet: '#status',
                    },
                    {
                        title: '操作',
                        align: 'center',
                        toolbar: '#operation',
                        fixed: 'right',
                        width: '15%',
                    }
                ]
            ],
            done: function () {

            }
        });
        var data = [];
        table.on('tool(tableContent)', function (obj) {
            var data = obj.data;
            var changeId = data.changeId;
            var status = data.status;
            var layEvent = obj.event;
            if (layEvent === 'edits') {
                openwindow("/project/editChangePage?changeId=" + changeId + "&status=" + status, "项目变更", "800", "670", false, reload);
            } else if (layEvent === 'auditOpion') {
                openwindow("/project/auditOptionPage?changeId=" + changeId, "审批意见", "1000", "700", false, reload);
            }
        });

    });

    function search() {
        tableIns.reload({
            where: {},
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };

    function reload() {
        tableIns.reload({
            where: {},
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    function change() {
        var map = {"projectId": projectId};
        $.ajax({
            type: "post",
            url: '/project/getChangeInAudit',
            data: JSON.stringify(map),
            contentType: "application/json",
            success: function (data) {
                if (data) {
                    openwindow("/project/changeProjectPage?projectId=" + projectId, "项目变更", "800", "670", false, reload);
                } else {
                    tipinfo("有变更未完成，不能进行新的变更");
                }
            },
            error: function () {
                tipinfo(data.message);
            }
        })
    }

    function commit() {
        var checkStatus = table.checkStatus('id');
        var data = checkStatus.data;
        var changeIdList = "";
        if(data.length<1){
            tipinfo("请选择要提交的变更!");
            return;
        }
        for (var i = 0; i < data.length; i++) {
            if (data[i].status == 1 || data[i].status == 2 || data[i].status == 4) {
                changeIdList += (data[i].changeId + ",");
            }
        }
        if (changeIdList == "") {
            tipinfo("所选列表不包含可提交变更,请重新选择!");
            return;
        }
        var map = {changeIdList: changeIdList};
        openwindow("/project/commitPage?changeIdList=" + changeIdList, "选择审批流程", "800", "320", false, reload);
    }
</script>
</body>
</html>