<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::htmlhead">
<body>
<style type="text/css">
</style>
<div class="layui-layout layui-layout-admin">
    <div th:replace="fragments/layout :: header">Header</div>
    <div th:replace="fragments/layout :: sidebar">sidebar</div>
    <div class="layui-body" style="background-color: #f2f2f2">
        <div style="padding: 15px;background-color: #FFFFFF;margin: 15px;min-height: 95%;"
             class="layui-anim layui-anim-upbit">
            <section>
                <h2 class="joysupply-txt-subtitle joysupply-normal-subtitle">样板间</h2>
                <hr/>
                <div class="layui-form layui-row" action="">
                    <div class="layui-col-lg9 layui-col-md12">
                        <div class="layui-form-item layui-col-md12">
                            <div class=" layui-col-md4">
                                <label class="layui-form-label">样板间名称</label>
                                <div class="layui-input-block">
                                    <input type="text" id="suitName" placeholder="请输入" class="layui-input">
                                </div>
                            </div>
                            <div class=" layui-col-md4">
                                <label class="layui-form-label">样板间编码</label>
                                <div class="layui-input-block">
                                    <input type="text" id="suitCode" placeholder="请输入" class="layui-input">
                                </div>
                            </div>
                            <div class=" layui-col-md4">
                                <label class="layui-form-label">样板间风格</label>
                                <div class="layui-input-block">
                                    <select id="suitType">
                                        <option value="">所有</option>
                                        <option th:value="${suitType.code}"
                                                th:each="suitType : ${suitTypeList}"
                                                th:text="${suitType.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-col-md4">
                                <label class="layui-form-label">开始时间</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" id="startTime" lay-key="1">
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <label class="layui-form-label">结束时间</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" id="endTime" lay-key="2">
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <label class="layui-form-label">设计师</label>
                                <div class="layui-input-block">
                                    <input type="text" id="suitDesigner" placeholder="请输入" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-lg3 layui-col-md12" style="margin-top:5px;">
                        <button class="layui-btn layuiadmin-btn-list layui-btn-sm" lay-submit=""
                                lay-filter="LAY-app-contlist-search" onclick="search()" style="margin-left: 40px;">
                            搜索
                        </button>
                        <button class="layui-btn layuiadmin-btn-list layui-btn-sm" lay-submit=""
                                lay-filter="LAY-app-contlist-search" onclick="add()">
                            新建
                        </button>
                    </div>
                </div>
                <table class="layui-table" lay-skin="line" id="researchOffice" lay-filter="tableContent" style="margin-top: 0px">
                </table>
            </section>
        </div>
    </div>
</div>
<script type="text/html" id="operation">
    <a class="joysupply-txt-color-on" lay-event="edits" th:each="func:${session.funcList}" th:if="${func == 'ybj_edit'}">编辑</a>
    <a class="joysupply-txt-color-error joysupply-txt-color-on" lay-event="deletes" th:each="func:${session.funcList}" th:if="${func == 'ybj_del'}">删除</a>
</script>
<script type="text/html" id="productNameTim">
    <a class="joysupply-txt-color-on" lay-event="popularInfo">{{d.suitName}}</a>
</script>
<script type="text/html" id="productCodeTim">
    <a class="joysupply-txt-color-on" lay-event="popularInfo">{{d.suitCode}}</a>
</script>
<script type="text/javascript">
    var tableIns;
    var table;
    var layer;
    //JavaScript代码区域
    layui.use(['element', 'form', 'table', 'laydate'], function () {
        var laydate = layui.laydate;
        var element = layui.element;
        var form = layui.form;
        layer = layui.layer;
        table = layui.table;
        laydate.render({
            elem: '#startTime',
            type: 'date'
        });
        laydate.render({
            elem: '#endTime',
            type: 'date'
        });
        tableIns = table.render({
            id: 'id',
            elem: '#researchOffice',
            skin: 'line',
            totalRow: true,
            cellMinWidth: 80,
            url: '/product/getSuitList', //数据接口
            where: {isAuthList: 0},
            page: true, //开启分页
            limits: [10, 20, 30, 40, 50],
            cols: [
                [
                    {
                        field: 'suitName',
                        title: '样板间名称',
                        align: 'center',
                        width: '18%',
                    },
                    {
                        field: 'suitCode',
                        title: '编码',
                        align: 'center',
                        width: '23%',
                    },
                    {
                        field: 'psType',
                        title: '风格',
                        align: 'center',
                        width: '12%',
                    },
                    {
                        field: 'suitEasy',
                        title: '简介',
                        width: '12%',
                        align: 'center',
                    },
                    {
                        field: 'date',
                        title: '上架时间',
                        width: '12%',
                        align: 'center',
                    },
                    {
                        field: 'suitDesigner',
                        title: '设计师',
                        width: '12%',
                        align: 'center',
                    },
                    {
                        field: 'creater',
                        title: '管理人',
                        width: '12%',
                        align: 'center',
                    },
                    {
                        title: '操作',
                        fixed: 'right',
                        align: 'center',
                        toolbar: '#operation',
                        width: '10%'
                    }
                ]
            ],
            done: function (res, curr, count) {
                for (var i = 0; i < res.data.length; i++) {
                    var totalIncome = 0;
                    if (res.data[i].totalIncome != null && res.data[i].totalIncome != "") {
                        totalIncome = res.data[i].totalIncome;
                    }
                    if (totalIncome > 0) {
                        // $("tr[data-index="+(i)+"]").css("background", "#6affff");
                    } else {
                        // $("tr[data-index=" + (i) + "]").css("color", "#f00");
                    }
                }
            }
        });

        var data = [];
        table.on('tool(tableContent)', function (obj) {
            var data = obj.data; // 获得当前行数据
            var suitId = data.suitId;
            var layEvent = obj.event;
            if (layEvent === 'edits') {
                openwindow("/product/editSuitPage?suitId=" + suitId, "修改样板间", "800", "670", false, reload);
            } else if (layEvent === 'deletes') {
                layer.confirm("您确定要删除吗？", {
                        icon: 3,
                        title: "删除确认"
                    },
                    function (index) {
                        var map = {"suitId": suitId};
                        $.ajax({
                            type: "post",
                            url: '/product/delSuit',
                            data: map,
                            dataType: 'json',
                            success: function (data) {
                                tipinfo("删除成功!")
                                tableIns.reload({
                                    page: {
                                        curr: 1
                                    }
                                });
                            },
                            error: function () {
                                tipinfo(data.message);
                            }
                        })
                        layer.close(index);
                    },
                    function (index) {
                        layer.close(index);
                    });
            }
        });
    });

    function search() {
        var suitName = $("#suitName").val();
        var suitType = $("#suitType option:selected").val();
        var suitCode = $("#suitCode").val();
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        var suitDesigner = $("#suitDesigner").val();
        var params = {
            isAuthList: 0,
            suitName: suitName,
            suitType: suitType,
            suitCode: suitCode,
            startTime: startTime,
            endTime: endTime,
            suitDesigner: suitDesigner
        };
        tableIns.reload({
            where: params,
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };

    function add() {
        openwindow("/product/addSuitPage", "新建样板间", "800", "670", false, reload);
    }

    function reload() {
        var params = {
            isAuthList: 0
        };
        tableIns.reload({
            where: params,
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

</script>
</body>
</html>