<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .layui-table th {
        font-weight: 700;
        text-align: center;
    }

    .layui-table td {
        text-align: center;
    }

    body .layui-layer-title {
        font-size: 14px;
    }

    .trBackground {
        background-color: #fdf5e5;
    }

    #kcTable th {
        text-align: center;
    }

    #kcTable {
        cellpadding: 0%;
        cellspacing: 0%
    }

    .inp input {
        width: 100%;
    }

    .inp {
        width: 7%;
    }

    .thCenter tr th {
        text-align: center;
    }
    .layui-layer-btn0{
        background-color: #00c1de!important;
        border-color: #00c1de!important;
    }
    .layui-layer-btn1{
        border-color: #00c1de!important;
        background-color: #00c1de!important; 
        color:#fff!important;
    }
    .layui-table, .layui-table-view{
        margin: 0!important;
    }
</style>
<head th:replace="fragments/layout::htmlhead">
<body id="asdf">
<div class="layui-layout layui-layout-admin">
    <div th:replace="fragments/layout :: header">Header</div>
    <div th:replace="fragments/layout :: sidebar">sidebar</div>
    <div class="layui-body" style="background-color: #f2f2f2">
        <div style="padding: 15px; background-color: #FFFFFF; margin: 15px; min-height: 95%;"
             class="layui-anim layui-anim-upbit">
            <section>
                <h2 class="joysupply-txt-subtitle joysupply-normal-subtitle">待审批课酬</h2>
                <hr/>
                <div>
                    <form class="layui-form" id="form1">
                        <div class="layui-row" style="margin-bottom: 10px;">
                            <div class="layui-col-lg3 layui-col-md12">
                                <label class="layui-form-label">流水号：</label>
                                <div class="layui-input-block">
                                    <input type="text" id="serialNumber" name="serialNumber" placeholder="请输入流水号"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-lg9 layui-col-md12" style="margin-top: 5px;">
                                <button type="button" class="layui-btn layui-btn-sm serach" style="margin-left:20px;">搜索</button>
                                <button type="button" class="layui-btn layui-btn-sm approve" th:each="func:${session.funcList}" th:if="${func == 'dspkc_audit'}">审核</button>
                            </div>
                        </div>
                    </form>
                    <div>
                        <table class="layui-table" lay-skin="line" id="kcApproveTable"
                               lay-filter="kcApproveTable"></table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="approvePage" style="display:none;">
    <form class="layui-form" id="form1">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">审核意见：</label>
            <div class="layui-input-block">
                <textarea style="width:93%;margin-top:2%;" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/html" id="operation">
    <a class="joysupply-txt-color-on" lay-event="details" th:each="func:${session.funcList}" th:if="${func == 'dspkc_detail'}">明细</a>
</script>
<script>
    var tableIns;
    var personCode = '[[${user.personCode}]]';
    //JavaScript代码区域
    var table;
    layui.use(['element', 'form', 'table', 'layer'], function () {
        var element = layui.element;
        var form = layui.form;
        table = layui.table;
        var layer = layui.layer;
        tableIns = table.render({
            id: 'id',
            elem: '#kcApproveTable',
            cellMinWidth: 80,
            url: '/approve/kcList', //数据接口
            skin: 'line',
            where: {
                personCode: personCode
            },
            initSort: {
                field: 'createTime', //排序字段，对应 cols 设定的各字段名
                type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            },
            totalRow: true,
            page: true, //开启分页
            limits: [10, 20, 30, 40, 50],
            cols: [
                [
                    {
                        type: 'checkbox',
                        width: '5%',
                        totalRowText: '合计',
                        align: 'center',
                        fixed: 'left',
                    },
                    {
                        title: '序号',
                        type: 'numbers',
                        width: '5%',
                        align: 'center',
                        fixed: 'left',
                    },
                    {
                        field: 'serialNumber',
                        title: '流水号',
                        width: '10%',
                        align: 'center',
                        fixed: 'left',
                    },
                    {
                        field: 'year',
                        title: '年份',
                        width: '10%',
                        align: 'center'
                    },
                    {
                        field: 'month',
                        title: '月份',
                        width: '10%',
                        align: 'center'
                    },
                    {
                        field: 'timeSolt',
                        title: '课酬统计时间段',
                        width: '20%',
                        align: 'center'
                    },
                    {
                        field: 'hourActual',
                        title: '实际课时',
                        width: '10%',
                        align: 'center',
                        totalRow: true,
                        decimals: '0'
                    },
                    {
                        field: 'feeCourse',
                        title: '应付课酬',
                        width: '10%',
                        align: 'center',
                        totalRow: true
                    },
                    {
                        field: 'createTime',
                        title: '创建时间',
                        width: '15%',
                        align: 'center'
                    },
                    {
                        field: 'status',
                        title: '状态',
                        width: '10%',
                        align: 'center',
                        templet: function (d) {
                            if (d.status == '-4') {
                                return '待审核';
                            } else if (d.status == '0') {
                                return '待审核';
                            }
                        }
                    },
                    {
                        title: '操作',
                        width: '20%',
                        align: 'center',
                        toolbar: '#operation',
                        fixed: 'right',
                    }
                ]
            ]
        });

        // 监听工具条
        table.on('tool(kcApproveTable)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'details') {//展示明细数据
                var serialNumber = data.serialNumber;
                location.href = '/kcManager/showDetails?serialNumber=' + serialNumber + "&status=0";
            }
        });

        $(".serach").click(function () {
            var params = {
                serialNumber: $('#serialNumber').val(),
                personCode: personCode,
                status: '0'
            };
            tableIns.reload({
                where: params,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        $(".approve").click(function () {
            var checkStatus = table.checkStatus('id');
            if (checkStatus.data.length == 0) {
                failureMsg("请先选择需审核的数据！");
                return false;
            }
            var rowIds = "";
            var serialNum = "";
            var dataArr = [];
            var datajson;
            var data = checkStatus.data;
            var curUser = personCode;
            layer.open({
                type: 1,
                title: "信息",
                btn: ["同意", "不同意"],
                btnAlign: 'c',
                closeBtn: 1,
                area: ['30%', '30%'],
                content: $("#approvePage").html(),
                btn1: function (index, layero) {
                    var approveOption = $(layero.find('form')[0]).find('textarea').val();
                    for (var i = 0; i < data.length; i++) {
                        var dataJson = {
                            serialNumber: data[i].serialNumber,
                            depType: '1',
                            personCode: personCode,
                            status: '1',
                            approveOption: approveOption,
                            approveOrder: data[i].approveOrder
                        }
                        dataArr.push(dataJson);
                    }
                    $.get("/approve/kcPass", {
                        data: JSON.stringify(dataArr),
                        kcStatus: "1",
                        pass: "1"
                    }, function (resp) {
                        if (resp.result === 'OK') {
                            successMsg("审批成功");
                            layer.close(index);
                            tableIns.reload({
                                page: {
                                    curr: 1
                                },
                                where: {
                                    serialNumber: $('#serialNumber').val(),
                                    personCode: personCode
                                }
                            });
                        } else {
                            failureMsg(resp.message);
                        }
                    })
                },
                btn2: function (index, layero) {
                    var approveOption = $(layero.find('form')[0]).find('textarea').val();
                    for (var i = 0; i < data.length; i++) {
                        datajson = {};
                        dataJson = {
                            serialNumber: data[i].serialNumber,
                            depType: data[i].depType,
                            personCode: personCode,
                            status: '0',
                            approveOption: approveOption,
                            approveOrder: data[i].approveOrder
                        }
                        dataArr.push(dataJson);
                    }
                    $.get("/approve/kcPass", {
                        data: JSON.stringify(dataArr),
                        kcStatus: "-1",
                        pass: "-1"
                    }, function (resp) {
                        if (resp.result === 'OK') {
                            successMsg("审批成功");
                            layer.close(index);
                            tableIns.reload({
                                page: {
                                    curr: 1
                                },
                                where: {
                                    serialNumber: $('#serialNumber').val()
                                }
                            });
                        } else {
                            failureMsg(resp.message);
                        }
                    })
                }
            })
        })
    });
</script>
</html>
